
<div th:fragment="userList(users)" th:if="${users != null}" class="container list-group" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="users" type="java.util.List<com.sysc4806.project.models.UserEntity>"*/-->
    <div th:each="user : ${users}">

        <div th:replace="/fragments/users/userItem :: userGroupItem(user=${user})"></div>
    </div>

    <!--/*@thymesVar id="searchTerm" type="java.lang.String"*/-->
    <div th:if="${users.isEmpty()}">
        <a class="list-group-item list-group-item-action flex-column align-items-start disabled">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" th:text="${'There are no users to display' + (searchTerm != null ? ' for ' + searchTerm : '')}"></h5>
            </div>
        </a>
    </div>
</div>