<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Services</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/bootstrapHeaders"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/admin.js" type="application/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/users.css"/>
</head>
<body>

<div th:replace="/fragments/navigationBar :: navigationBar('curUser')"></div>

<div id="userJumbotron" class="jumbotron pb-1">
    <a id="usernameTitle" class="display-4" th:text="${'Administrator Control Panel'}"></a>
    <hr/>
</div>


<a id="generateDataButton" class="btn btn-outline-success" href="/admin/generate">Generate Test Data</a>

<!-- Add a Product -->
<br/>
    <table>
        <form th:action="@{/admin/createProduct}" method="post">
            <tr>
                <th colspan="2">Create a new Product</th>
            </tr>
            <tr>
                <th><label for="url">Url:</label></th>
                <td><input type="text" id="url" name="url"/></td>
            </tr>
            <tr>
                <th><label for="name">Name:</label></th>
                <td><input type="text" id="name" name="name"/></td>
            </tr>
            <tr>
                <th><label for="category">Category:</label></th>
                <td><select id="category" name="category">
                    <option value="default">Default</option>
                    <option value="monitor">Monitors</option>
                    <option value="electronics">Electronics</option>
                    <option value="books">Books</option>
                    <option value="tools">Tools</option>
                </select></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Create Product"/></td>
            </tr>
        </form>
    </table>

</body>
</html>