<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/users.css"/>
</head>
<body>
<h1>
    User Profile
</h1>

<div th:if="${users}">

    <!-- All User Info -->
    <table>
        <tr>
            <th colspan="2">User List</th>
        </tr>
        <tr>
            <th>User ID</th>
            <th>Name</th>
        </tr>
        <tr th:each="user: ${users}">
            <td><span th:text="${user.id}"/></td>
            <td><span th:text="${user.username}"/></td>
        </tr>
    </table>


</div>

</body>


</html>
