#submitButton, #registerButton {
    width:100%;
}

html, body {
    height: 100%;
}

.social-sign-in
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.last-row {
    margin-bottom:0px;
}

.checklabel {
    font-weight:100;
}