h1, h4 {
    text-align: center;
    color: gray;
}

h4 {
    color: gray;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid darkgray;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
    border: 1px solid #dddddd;
}