h1, h4 {
    text-align: center;
}

.follower-container, .following-container {
    overflow-y: auto;
    height: 20rem !important;
    max-height: 20rem !important;
}

.follow-container {
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 4rem;

}

#userJumbotron {
    padding: 1rem;
    text-align: center;
}

.card-title.text-muted {
    font-style: italic;
}

#navigationBar{
    margin-bottom: 0 !important;
}