<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigationBar">
    <a class="navbar-brand" href="#">Product Review System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="${'/'}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
            </li>

            <li class="nav-item dropdown">
                <a th:text="${user.username}" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" th:href="${'/user'}">My Profile</a>
                    <a class="dropdown-item" href="/account">Account Settings</a>
                    <a class="dropdown-item" href="/admin" th:if="${user.authorizationRole.equals(user.authorizationRole.ADMIN)}">Control Panel</a>
                    <form action="/logout" method="POST">
                        <button class="dropdown-item" style="color: red;" type="submit">Logout</button>
                    </form>
                </div>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Products"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
