<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${status.value() + ' (' + status.reasonPhrase + ')'}">Error</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/error.css"/>
</head>
<body>
<h1 th:text="${'Status: ' + status.value() + ' (' + status.reasonPhrase + ')'}"></h1>
<h4>Unfortunately, an error occurred while attempting to access a page.</h4>
<div><p id="errorMessage" th:text="${errorMessage}"></p></div>
</body>
</html>