<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SYSC 4806 Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/scripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
</head>
<body>
<h1>
    Product Review System
</h1>
<!--/*@thymesVar id="user" type="com.sysc4806.project.models.UserEntity"*/-->
<div th:if="${user}" th:text="${'Currently Logged in as: ' + user.username + ' (Role: ' + user.authorizationRole + ')'}"/>

<!-- Button navigating to user profile -->
<a th:href="${'/user'}">
    <input class="home_button" type="submit" value="Account"/>
</a>


<!-- Table of Popular Products -->
<div th:if="${not #lists.isEmpty(products)}">
    <h1>Top Products:</h1>
    <table>
        <tr>
            <th>URL</th><th>Id</th><th>Name</th><th>Average Rating</th>
        </tr>
        <tr th:each="product : ${products}">
            <td><a th:href="${product.url}" th:text="${product.url}"/></td>
            <td th:text="${product.id}"></td>
            <td><a th:href="${'/products/' + product.id}" th:text="${product.name}"/></td>
            <td th:text="${#numbers.formatDecimal(product.getAverageRating(),0,2)}"></td>
        </tr>

    </table>
</div>

<div th:if="${facebook == null}">
    <form action="/connect/facebook" method="POST">
        <input type="hidden" name="scope" value="public_profile" />
        <div class="formInfo">
            <p>You aren't connected to Facebook yet. Click the button to connect this application with your Facebook account.</p>
        </div>
        <p><button type="submit">Connect to Facebook</button></p>
    </form>
</div>


<div th:if="${twitter == null}">
    <form action="/connect/twitter" method="POST">
        <input type="hidden" name="scope" value="public_profile" />
        <div class="formInfo">
            <p>You aren't connected to Twitter yet. Click the button to connect this application with your Twitter account.</p>
        </div>
        <p><button type="submit">Connect to Twitter</button></p>
    </form>
</div>

<div>
    <h2>Search For Products:</h2>
    <form th:action="@{/products/search}" method="post">
        <label for="searchTerm">Search Term:</label>
        <input type="text" id="searchTerm" name="searchTerm" autofocus="autofocus"/>
        <input id="submitButton" type="submit" value="Search"/>
    </form>
</div>

<div>
    <form action="/logout" method="POST">
        <p><button type="submit">Logout</button></p>
    </form>
</div>

</body>


</html>
