<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SYSC 4806 Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
    <div th:replace="fragments/bootstrapHeaders"></div>
</head>
<body>

<div th:replace="fragments/navigationBar :: navigationBar"></div>

<!-- Table of Popular Products -->
<div th:if="${not #lists.isEmpty(products)}">
    <h1>Top Products:</h1>
    <table>
        <tr>
            <th>URL</th><th>Id</th><th>Name</th><th>Average Rating</th>
        </tr>
        <tr th:each="product : ${products}">
            <td><a th:href="${product.url}" th:text="${product.url}"/></td>
            <td th:text="${product.id}"></td>
            <td><a th:href="${'/products/' + product.id}" th:text="${product.name}"/></td>
            <td th:text="${product.getAverageRating()}"></td>
        </tr>

    </table>
</div>
</body>


</html>
