<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
</head>
<body>
<div class="container">
    <table>
        <form th:action="@{/login}" method="post">

            <tr>
                <td><label for="username">Username</label>:</td>
                <td><input type="text" id="username" name="username" autofocus="autofocus"/></td>
            </tr>

            <tr>
                <td><label for="password">Password</label>:</td>
                <td><input type="password" id="password" name="password"/></td>
            </tr>
            <tr>
                <td colspan="2"><input id="submitButton" type="submit" value="Log in"/></td>
            </tr>
        </form>

        <form id="registrationForm" th:action="@{/registration}" method="get">
            <tr>
                <td colspan="2">
                    <input id="registerButton" type="submit" value="Register"/>
                </td>
            </tr>
        </form>

        <form action="/signin/facebook" method="POST">
            <input type="hidden" name="scope" value="public_profile"/>
            <tr>
                <td colspan="2">
                    <input class="social-sign-in" type="image" name="submit" src="/images/sign-in-with-facebook-blue.png" border="0" alt="Submit"/>
                </td>
            </tr>
        </form>


        <form action="/signin/twitter" method="POST">
            <tr>
                <td colspan="2">
                    <input class="social-sign-in" type="image" name="submit" src="/images/sign-in-with-twitter-gray.png" border="0" alt="Submit"/>
                </td>
            </tr>
        </form>
    </table>


</div>
</body>
</html>