<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SYSC 4806 Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/scripts/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>
</head>
<body>

<!-- Table of Popular Products -->
<div th:if="${not #lists.isEmpty(products)}">
    <h1 th:text="${'Results for Products with search '+ searchTerm +':'}"/>
    <table>
        <tr>
            <th>URL</th><th>Id</th><th>Name</th><th>Category</th><th>Average Rating</th>
        </tr>
        <tr th:each="product : ${products}">
            <td><a th:href="${product.url}" th:text="${product.url}"/></td>
            <td><a th:href="${'/products/' + product.id}" th:text="${product.id}"/></td>
            <td><a th:href="${'/products/' + product.id}" th:text="${product.name}"/></td>
            <td><a th:text="${product.category}"/></td>
            <td th:text="${#numbers.formatDecimal(product.getAverageRating(),0,2)}"></td>
        </tr>

    </table>
</div>
<div th:if="${#lists.isEmpty(products)}">
    <h1 th:text="${'No Product found with search Term: '+ searchTerm}"/>
</div>

<!-- Button navigating back to user profile -->
<a th:href="${'/user'}">
    <input class="home_button" type="submit" value="Return to Profile"/>
</a>

</body>


</html>