<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/fragments/bootstrapHeaders"></div>
    <link rel="stylesheet" type="text/css" href="/stylesheets/products.css"/>
</head>
<body>
<div th:replace="/fragments/navigationBar :: navigationBar('products')"></div>

<!--/*@thymesVar id="product" type="com.sysc4806.project.models.Product"*/-->
<div th:if="${product}">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">Products</li>
            <li class="breadcrumb-item" aria-current="page" th:text="${product.category.name()}"></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${product.name}"></li>
        </ol>
    </nav>


    <div id="userJumbotron" class="jumbotron">
        <a id="usernameTitle" class="display-4" th:text="${product.name}"></a>
        <div>
            <a th:href="${product.getUrlHref()}" th:text="${product.getUrlHref()}"/>
        </div>
        <div>
                <span th:text="${product.category.name()}"></span>

        </div>
        <div>
                <span th:each="i : ${#numbers.sequence(1, 5)}">
                    <span th:if="${i &lt;= product.getAverageRating()}" class="fa fa-star checked"></span>
                    <span th:if="${i &gt; product.getAverageRating()}" class="fa fa-star"></span>
                </span>

        </div>


    </div>

    <!-- Add a product Review -->
    <!--/*@thymesVar id="loggedInUser" type="com.sysc4806.project.models.UserEntity"*/-->


    <!-- Table of Reviews -->
    <!-- Table of Reviews -->
    <div th:replace="/fragments/reviews/reviewList :: reviewList(reviews = ${product.reviews})"></div>

    <noscript>
    <div class="container-fluid mb-2">
        <div class="card w-100">
            <div class="card-body mx-auto">
                <h4>Write a Review</h4>
                <div class="row">
                <form th:action="@{/products/review}" method="post">
                    <input type="hidden" name="productId" th:value="${product.getId()}"/>

                    <div class="row mb-2">
                        <label class="col-sm" for="rating">Rating:</label>
                        <select id="rating" class="col-sm" name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group row mb-2">
                        <label class="col-sm" for="comment">Comment (Optional):</label>
                            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                    </div>
                    <div class="row mb-1">
                        <input class="w-100" type="submit" value="Submit Review"/>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    </noscript>
</div>
</body>


</html>
