<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/users.css"/>
</head>
<body>
<h1>
    Current Product
</h1>

<!--/*@thymesVar id="product" type="com.sysc4806.project.models.Product"*/-->
<div th:if="${product}">
    <!-- Current Product Info -->
    <table>
        <tr>
            <th colspan="5">Product Information</th>
        </tr>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>URL</th>
            <th>Average Rating</th>
            <th>Category</th>
        </tr>
        <tr>
            <td><span th:text="${product.id}"/></td>
            <td><span th:text="${product.name}"/></td>
            <td><a th:href="${'http://' + product.url}" th:text="${product.url}"/></td>
            <td><span th:text="${product.getAverageRating()}"/></td>
            <td><span th:text="${product.category}"/></td>
        </tr>
    </table>


    <!-- Table of Reviews -->
    <div id="productReviews" th:switch="${product.reviews.size()}">
        <p th:case="${0}"><b>No Reviews</b></p>

        <div th:case="*">
            <br/>
            <table>
                <tr>
                    <th colspan="4">Reviews <span th:text="${'Total: ' + product.reviews.size()}"/></th>
                </tr>
                <tr>
                    <th>Rating ID</th>
                    <th>Author</th>
                    <th>Rating (/5)</th>
                    <th>Comment</th>
                </tr>
                <tr th:each="review : ${product.reviews}">
                    <td th:text="${review.id}"></td>
                    <td><a th:href="${'/user/' + review.author.id}" th:text="${review.author.username}"></a></td>
                    <td th:text="${review.rating}"></td>
                    <td th:text="${review.comment}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>



</body>


</html>
