<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Search for a User:</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/users.css"/>
</head>
<body>
<a th:href="${'/user'}"><input class="home_button" type="submit" value="Back to Account"/></a>
    <!-- Table of current Users -->
    <div th:if="${not #lists.isEmpty(userEntities)}">
        <h1>Top Users:</h1>
        <table>
            <tr>
                <th>Name</th><th>Id</th><th>Number of Followers</th>
            </tr>
            <tr th:each="userEntity : ${userEntities}">
                <td><a th:href="${'/user'}" th:text="${userEntity.username}"/></td>
                <td th:text="${userEntity.id}"></td>
                <td th:text="${userEntity.followers.size()}"></td>

            </tr>

        </table>
    </div>
</body>
</html>
