<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="fragments/bootstrapHeaders"></div>
    <link rel="stylesheet" type="text/css" href="/stylesheets/users.css"/>
</head>
<body th:if="${loggedInUser}">
<div th:replace="fragments/navigationBar :: navigationBar(location='users')"></div>

<!--/*@thymesVar id="user" type="com.sysc4806.project.models.UserEntity"*/-->
<!--/*@thymesVar id="loggedInUser" type="com.sysc4806.project.models.UserEntity"*/-->
<div th:if="${user}">
    <div id="userJumbotron" class="jumbotron">
        <a id="usernameTitle" class="display-4" th:text="${(user == null || user.equals(loggedInUser)) ? 'My User Profile' : user.username}"></a>

        <div th:if="${user != null and !user.equals(loggedInUser)}">

            <div th:switch="${user.followers.contains(loggedInUser)}">
                <div th:case="${false}">
                    <form th:action="@{/user/follow}" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}"/>
                        <input class="btn btn-primary btn-md" type="submit" value="Follow"/>
                    </form>
                </div>

                <div th:case="${true}">
                    <form th:action="@{/user/unfollow}" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}"/>
                        <input class="btn btn-primary btn-md" type="submit" value="Unfollow"/>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Table of Reviews -->
    <div th:replace="fragments/reviews/reviewList :: reviewList(reviews = ${user.reviews})"></div>

    <div class="container mh-25 h-25 follow-container">

        <div class="row mh-25 h-25 justify-content-center">
            <h5 class="col mr-2" th:text="${'Followers (' + user.followers.size() + ')'}">
            </h5>

            <h5 class="col mr-2" th:text="${'Following (' + user.following.size() + ')'}">
            </h5>
        </div>

        <!-- Content here -->
        <div class="row mh-25 h-25 justify-content-center">
            <div class="follower-container mh-25 h-25 col mr-2 border">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="follower: ${user.followers}"><a th:href="${'/user/' + follower.id}" th:text="${follower.username}"></a></li>
                </ul>
            </div>

            <div class="following-container col mr-2 border">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="following: ${user.following}"><a th:href="${'/user/' + following.id}" th:text="${following.username}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>


</html>
