
<div th:fragment="reviewList(reviews)" th:if="${reviews != null}" class="container" xmlns:th="http://www.thymeleaf.org">
    <h3 class="text-center text-secondary" th:text="${(reviews.isEmpty()) ? 'No Reviews' : 'Reviews'}"></h3>
    <!--/*@thymesVar id="products" type="java.util.List<com.sysc4806.project.models.Product>"*/-->
        <div class="row">
        <div class="col-md-6 mb-3" th:each="review : ${reviews}">
            <div th:replace="fragments/reviews/reviewItem :: reviewGroupItem(review=${review})"></div>
        </div>
        </div>
</div>